:root {
  --main-color: black;
  --yellow-sw: #f5d273;
  --blue-sw: #060447;
  --ff-style: "Montserrat", sans-serif;
  --ball_size: 4rem;
  --transition-time: 0.4s;
  /* color: var(--main-color) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-style);
  font-size: 16px;
  background-color: var(--blue-sw);
  color: var(--yellow-sw);
  display: flex;

  height: 100vh;
}

h1 {
  font-weight: 800;
  font-size: 16rem;
  line-height: 20rem;
}

h2 {
  font-weight: 800;
  font-size: 5rem;
}

p {
  padding-top: 1.5rem;
  padding-right: 6rem;
  line-height: 2.2rem;
}

main {
  max-width: 1280px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.filmInfo {
  display: flex;
}

.left {
  flex: 3;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.right {
  flex: 2;
  width: auto;
  min-width: auto;
}

.logos img {
  width: 70px;
  filter: invert(83%) sepia(54%) saturate(433%) hue-rotate(342deg)
    brightness(100%) contrast(93%);
}

.logos {
  height: 80px;
}

.logo {
  width: 90px;
}

.titles {
  height: 7rem;
}

.logos,
.titles {
  position: relative;
  overflow: hidden;
}

.logo,
.film-title {
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: transform 1s ease, opacity 1s ease;
}

.descriptions {
  display: grid;
  overflow: hidden;
}
.descriptions > * {
  grid-column-start: 1;
  grid-row-start: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 1s ease, opacity 1s ease;
}

.logo:not(.logo-active),
.film-title:not(.title-active),
.description:not(.text-active) {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}



.posters {
  aspect-ratio: 2/3;
  position: relative;
  overflow: hidden;
  width: auto;
}

.right .poster {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: transform 1s ease;
}

.poster-inactive,
.logo-inactive {
  transform: translateX(100%);
}

.slide-in {
  transform: translateX(0%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: transform 1s ease;
}

.arrows {
  flex: 1.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows button {
  border: none;
  background: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}

.arrows button span {
  font-size: 5rem;
  color: var(--yellow-sw);
}

.arrows button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.stepper {
  flex: 8.7;
  display: flex;
  justify-content: space-between;
}

.stepper li {
  list-style-type: none;
  width: 100%;
  position: relative;
  margin-left: var(--ball_size);
}

.stepper li::before {
  content: "";
  position: absolute;
  top: -50%;
  right: 0;
  width: var(--ball_size);
  height: var(--ball_size);
  line-height: var(--ball_size);
  border-radius: 50%;
  background-color: var(--yellow-sw);
  opacity: 0.3;
}

.stepper li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: var(--ball_size);
  width: 100%;
  height: 1px;
  background-color: var(--yellow-sw);
  opacity: 0;
  transform: translateX(-100%);
}

.stepper li.active:first-child::after {
  background-color: #060447;
  z-index: 1;
}

.stepper li.active:first-child:before {
  opacity: 1;
}

.stepper li.active::before {
  opacity: 1;
  transition: all 0.3s ease-in 0.3s;
}

hr {
  transform: translate(-4rem, -1rem);
  height: 1px;
  color: var(--yellow-sw);
  background-color: #f5d273;
  opacity: 0.3;
  border: none;
}

.stepper li.active::after {
  opacity: 1;
  transition: all 0.4s linear;
  transform: translateX(0);
}

.stepper li.inactive::after {
  opacity: 0;
  transition: all 0.4s ease-in 0.2s;
}

.stepper li.inactive::before {
  opacity: 0.3;
  transition: all 0.3s ease-in;
}
